apiVersion: v1
kind: Secret
metadata:
  name: env-vars-secret
  namespace: test-search
type: Opaque
stringData:
  pg-db: 'db-name'
  pg-user: 'db-username'
  pg-pass: 'db-password'
  master-key: 'rails-master-key'
