# Source: https://dev.to/asizikov/using-github-container-registry-with-kubernetes-38fb
kind: Secret
type: kubernetes.io/dockerconfigjson
apiVersion: v1
metadata:
  name: registry-credentials
  namespace: test-search
data:
  .dockerconfigjson: .............................................
